
body {
  width: 100%;
  margin: 50;
}
h1 {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 100px;
	padding-right: 100px;
	color: #acd1b2;
}

h2 {
	font-family: sans-serif;
	font-weight: bold;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 100px;
	padding-right: 100px;
	color: #acd1b2;
}
p {
	font-family: sans-serif;
	font-weight: 100 ;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 100px;
	padding-right: 100px;
	color: #0f3c49;

}
